*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: 'LEMON MILK REGULAR';
    src: url(../css/fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: 'LEMON MILK BOLD';
    src: url(../css/fonts/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: 'LEMON MILK LIGHT';
    src: url(../css//fonts/LEMONMILK-Light.otf);
}
@font-face {
    font-family: 'COCOGOOSE ULTRALIGHT';
    src: url(../css/fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
}

@font-face {
    font-family: 'COCOGOOSE DEMIBOLD';
    src: url(../css/fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
}

@font-face {
    font-family: 'COCOGOOSE LIGHT';
    src: url(../css/fonts/Cocogoose\ Pro\ Light-trial.ttf);
}

/* HEADER / NAVBAR */

body{
    overflow-x: hidden;
}

header{
    padding: 2em 0;
    padding-bottom: .5em;
    z-index: 999;
}

nav{
    font-family: 'LEMON MILK REGULAR';
    padding-right: calc(var(--bs-gutter-x) * 2) !important;
    padding-left: calc(var(--bs-gutter-x) * 2) !important;
}

.placeholder-nav span{
    font-family: 'COCOGOOSE DEMIBOLD';
    color: #c7c7c7c7;
}

nav ul{
    padding: 0 !important;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: .8em;
}

nav ul li{
    margin: 0 1.5em;
}

nav ul li:hover{
    text-decoration: underline;
}

.placeholder-nav{
    position: absolute;
    padding-left: 1em;
    display: block;
}

#input-header, #input-header-mobile{
    font-family: 'COCOGOOSE DEMIBOLD';
    border: none;
    border-radius: 2em;
    background-color: #F0F0F0;
    height: 2.3em;
    padding-left: 1em;

}

.input-buscar-container{
    margin-right: 2em !important;
}

.input-buscar-container input:valid ~ label,
.input-buscar-container input:focus ~ label,
.input-buscar-container-mobile input:valid ~ label,
.input-buscar-container-mobile input:focus ~ label{
    display: none;
}

.dropDown-perfil-icon{
    position: absolute;
    right: 0;
    font-family: 'COCOGOOSE DEMIBOLD';
    right: 3.8em;
    background-color: white;
    padding: 1em 0;
    padding-right: 5em;
    padding-left: .4em;
    filter: drop-shadow(-2px 6px 4px rgba(0, 0, 0, 0.25));
    display: none;
}

.dropDown-perfil-icon div img{
    width: 1.5em;
    margin-right: .4em;
}

.dropDown-perfil-icon div a{
    text-decoration: none;
    color: #737373;
}

.pc-layout{
    display: flex !important;
    align-items: center;
}

.mobile-layout{
    display: none !important; 
}

.mobile-layout img{
    width: 1.6em;
    margin: 0 1em;
}

.mid-items-nav{
    display: flex;
}

#input-header-mobile{
    width: 100%;
    margin: 0;
}

.mobile-input{
    display: none;
}

.side-menu-container{
    position: absolute;
    background-color: #00000067;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
}

.side-menu{
    background-color: white;
    width: 250px;
    height: 100vh;
    right: 0;
    position: absolute;
}

.close-icon-side-bar img{
    width: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

.topicos-side-bar ul{
    list-style: none;
    text-align: right;
    margin-right: 2em;
    margin-top: 3em;
    font-family: 'COCOGOOSE DEMIBOLD';

}

.topicos-side-bar ul li{
    margin-bottom: 1.5em;
}

.topicos-side-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

/* SECTION */

section{
    margin-top: 0.8em;
    margin-bottom: 4em;
}

/* PÁG BUSCA */

.products-container{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: initial; */
    /* width: 57vw; */
}

.product-card{
    margin: 0 .4em;
    /* padding: 0 !important; */
    margin-bottom: 1.3em;
    /* width: 100%; */
    /* width: auto; */
}

.product-card p{
    margin: 0 !important;
}

.product-card img{
    width: 244px;
    height: 244px;
    object-fit: cover;
}

.product-card .product-name{
    width: 244px;
    font-family: 'COCOGOOSE LIGHT';
    margin-top: .5em !important;
}

.product-card .product-subDesc{
    width: 244px;
    font-family: 'COCOGOOSE ULTRALIGHT';
}

.product-card .product-price{
    width: 244px;
    font-family: 'LEMON MILK LIGHT';
}


.title-filter{
    font-family: 'COCOGOOSE DEMIBOLD';
    font-size: 1.5em;
}

.cores-title, .tipos-title{
    font-family: 'COCOGOOSE DEMIBOLD';
    font-size: 1em;
}

.cores-content{
    flex-wrap: wrap;
}

.cores-container, .title-container, .tamanho-container{
    width: 80%;
}

.filter-content{
    background-color: #f8f8f8;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 100%;
    width: 400px;
    border: 1px solid rgb(218, 218, 218);
    /* position: sticky; */
    /* top: 0; */
}

.cor-unica-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    margin-left: 0;
    width: 60px;
}

.cor-unica-container p{
    font-family: 'COCOGOOSE DEMIBOLD';
    font-size: .7em;
}

.cor-ball{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#branco-ball{
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
}

#preto-ball{
    background-color: black;
}

#verde-ball{
    background-color: rgb(11, 167, 11);
}

#vermelho-ball{
    background-color: rgb(231, 12, 12);
}

#ciano-ball{
    background-color: rgb(19, 221, 228);
}

#azul-ball{
    background-color: rgb(8, 30, 226);
}

.checkbox-container{
    display: flex;
    align-items: center;
}

.tipos-container p{
    margin: 0 !important;
    font-family: 'COCOGOOSE DEMIBOLD';
    font-size: 1em;
    margin-left: .5em !important;
}

.tipos-container input{
    width: 20px;
    height: 20px;
}

.checkbox-container{
    margin-bottom: 1em;
}

.side-filter-container{
    position: absolute;
    background-color: #00000067;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
}

.side-filter{
    background-color: white;
    width: 250px;
    height: 100vh;
    left: 0;
    position: absolute;
}

.close-icon-side-filter img{
    width: 1em;
    margin-top: 1em;
    margin-left: 85%;
}

/* FOOTER */

footer, section{
    padding-right: calc(var(--bs-gutter-x) * 5) !important;
    padding-left: calc(var(--bs-gutter-x) * 5) !important;
}

footer{ 
    background-color: black;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    padding: 4em 0; 
    cursor: pointer;
    user-select: none;
}

footer p, footer ul{
    margin: 0 !important;
    color: white;
    list-style: none;
    font-family: 'COCOGOOSE ULTRALIGHT';
}

.title-list{
    font-family: 'COCOGOOSE DEMIBOLD';
    font-size: 1.4em;
}

.special-char{
    font-family: 'LEMON MILK LIGHT';
}

.subtitle-list{
    margin: 1em 0;
}

.content-list{
    margin: 1em 0;
}

.subtitle-list, .subtitle-content{
    font-size: .8em;
}

.subtitle-content:hover{
    color: #d8d8d8;
}

.desc-content{
    font-size: .6em;
    display: none;
}

.title-footer-third-col p{
    font-size: 1.1em;
    font-family: 'LEMON MILK BOLD';
}

.imgs-redes-sociais img{
    width: 2em;
    margin-right: .5em;
}

.imgs-formas-pag{
    width: 350px;
    margin-left: .1em !important;
}

.imgs-formas-pag div{
    padding: 0 !important; 
    /* width: 30%; */
    
}

.imgs-formas-pag img{
    margin-bottom: .4em;
    margin-right: .4em;
    width: 5em;
    padding: 0 !important; 
}

.coluns-container{
    border-bottom: 1px solid white;
    padding-bottom: 3em;
}

.vibe-logo-footer-container img{
    width: 80%;
}



#login-container{
    display: flex;
    align-items: center;
    font-family: 'COCOGOOSE DEMIBOLD';
    margin-bottom: 10%;
}

.login-content{
    justify-content: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
}

.logo-display{
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.logo{
    width: 7vw;
}

.login-information{
    margin-bottom: 2vh;
    font-size: 20px;
    /* font-family: 'LEMON MILK BOLD'; */
}

.inputs{
    display: flex;
    flex-direction: column;
    min-width: 33vw;
}

.inf-input{
    border: 1px #000 solid;
    border-radius: 5px;
    margin-bottom: 1.5vh;
    height: 4vh;
    padding: 4% 2%;
}

.inf-input::placeholder{
    color: #3c3c3c;
    font-weight: bold;
    font-size: 15px;
}

.check{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vh;
}

.checkbox{
    min-width:1.5vw;
    min-height:1.5vw;
}

.remember{
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
}

.btn-display-flex-row{
    display: flex;
    flex-direction: row;
}

#back-btn , #continue-btn{
    border: none;
    background-color: rgb(192, 192, 192);
    color: #fff;
    min-height: 5vh;
    min-width: 10vw;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

#back-btn:hover{
    color:  rgb(192, 192, 192);
    background-color:#fff;
    border: 2px solid rgb(192, 192, 192);
}

#continue-btn{
    background-color: rgb(0, 0, 0);
    margin-left: 1vw;
}

#continue-btn:hover{
    background-color: rgb(255, 255, 255);
    color:black;
    border: 2px solid #000;
}

.register{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-top: 2vh;
   
}

.check, .register{
     color: #3c3c3c;
}

.text-decoration{
    margin-left: 0.2vw;
    text-decoration: underline;
}

/* BUNNER */

#body-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrossel-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel-content{
    width:60%;
    height: 60%;
    overflow: hidden;
}

.carrossel{
    width: 500%;
    height: 500%;
    display: flex;
}

.carrossel input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 50%;
    height: 100%;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.m-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1ms;
}

.m-btn:checked(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: antiquewhite;
}

#radio1:checked ~.first-img{
    margin-left: 0;
}


#radio2:checked ~.first-img{
    margin-left: -20%;
}


.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid  antiquewhite;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

/* #radio1:checked ~ .nav-auto .a-b1{
    background-color: antiquewhite;
}

#radio2:checked ~ .nav-auto .a-b2{
    background-color: antiquewhite;
} */


@media (max-width: 1480px){

    footer, section{
        padding-right: calc(var(--bs-gutter-x) * 3) !important;
        padding-left: calc(var(--bs-gutter-x) * 3) !important;
    }

}

@media (max-width: 1100px){
    .product-card img{
        width: 170px;
        height: 170px;
        /* object-fit: cover; */
    }

    .product-card .product-name{
        width: 170px;
        font-size: .8em;
    }

    .product-card .product-subDesc{
        width: 170px;
        font-size: .8em;
    }

    .product-card .product-price{
        width: 170px;
    }
}

@media (max-width:1024px){
    #back-btn , #continue-btn{
        min-height: 5vh;
        min-width: 12vw;
    }

    .inf-input{
        max-height: 3vh;
    }

    html{
        margin: 0;
    }

    body{
        margin: 0;
    }

    .carrossel-content{
        width: 80%;
        height: 80%;
    }

    
}

@media (min-width: 992px) {
    .side-menu-container{
        display: none !important;
    }
}



@media (max-width: 992px) {

    .logo{
        width:15vw;
    }

    #back-btn , #continue-btn{
        min-height: 5vh;
        width: 15vw;
    }

    #continue-btn{
        margin-left: 2vw;
    }

    #footer-pc-vision{
        display: none !important;
    }   

    .inf-input{
        max-height: 5vh;
    }

    nav, #busca-section, .produto-section{
        padding-right: calc(var(--bs-gutter-x) * .0) !important;
        padding-left: calc(var(--bs-gutter-x) * .0) !important;
    }

    .pc-layout{
        display: none !important;
    }

    .mid-items-nav{
        display: none;
    }

    .mobile-layout{
        display: flex !important; 
        align-items: center !important;
    }

    .logo-vibe-nav{
        width: 5em;
    }

    .mobile-input{
        display: block;
    }

    footer{
        padding-right: calc(var(--bs-gutter-x) * -4) !important;
        padding-left: calc(var(--bs-gutter-x) * -4) !important;
    }

    .title-dropDown-footer img{
        width: 30px;
        height: 30px;
    }

    .plus-icon{
        font-family: 'LEMON MILK REGULAR';
        font-size: 2.5em;
    }

    .title-dropDown{
        font-family: 'LEMON MILK BOLD';
        font-size: 1.2em;
    }

    .title-dropDown-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content-dropDown-footer ul{
        padding: 0 !important;
    }

    .content-dropDown-footer{
        display: none;
    }

    .container-dropDown-footer{
        padding-right: calc(var(--bs-gutter-x) * 0) !important	;
        padding-left: calc(var(--bs-gutter-x) * 0) !important;
        /* margin-right: calc(var(--bs-gutter-x) * 2) !important; */
        margin-left: calc(var(--bs-gutter-x) * .5) !important;
        border-bottom: 1px solid white;
        
    }

    .coluns-container{
        padding-right: calc(var(--bs-gutter-x) * -4) !important;
        padding-left: calc(var(--bs-gutter-x) * -4) !important;
    }
    
    .buscar-input{
        display: none;
    }

    .filter-container-pc-version{
        display: none;
    }

    .filtro-icon{
        margin-left: .6em;
    }

    .products-container{
        justify-content: center;
    }

}

@media (max-width:912px){
    #back-btn , #continue-btn{
        min-height: 4vh;
        min-width: 12vw;
    }
}

@media (max-width:675px){
    #back-btn , #continue-btn{
        min-height: 5vh;
        min-width: 18vw;
    }
}

@media (max-width:475px){

    .logo{
        min-width: 18vw;
    }

    #login-container{
        margin-right: 5vw;
        margin-left: 5vw;
    }

    #back-btn , #continue-btn{
        min-height: 5vh;
        min-width: 13vh;
    }

    #continue-btn{
        margin-left: 2vw;
    }

    .inputs{  
        min-width: 25vw;
    }

    .remember{
        margin-top: 0.5vh;
    }

    .checkbox{
        width: 4vw;
        height: 4vw;
    }

    .register{
        font-size: 10px;
    }

    body{
        right: 0;
    }

    .product-card img{
        width: 140px;
        height: 140px;
        /* object-fit: cover; */
    }

    .product-card .product-name{
        width: 140px;
        font-size: .7em;
    }

    .product-card .product-subDesc{
        width: 140px;
        font-size: .7em;

    }

    .product-card .product-price{
        width: 140px;
        font-size: .7em;
    }
}

@media (max-width: 392px){
    .product-card img{
        width: 120px;
        height: 120px;
        /* object-fit: cover; */
    }

    .product-card .product-name{
        width: 120px;
        font-size: .7em;
    }

    .product-card .product-subDesc{
        width: 120px;
        font-size: .7em;

    }

    .product-card .product-price{
        width: 120px;
        font-size: .7em;
    }
}