section{
    padding-right: calc(var(--bs-gutter-x) * .7) !important;
    padding-left: calc(var(--bs-gutter-x) * .7) !important;
    margin-top: 3em;
}

.name-product-page{
    font-family: 'COCOGOOSE DEMIBOLD';
}

.product-img-page{
    --widthIMG: 100vw;
    width: var(--widthIMG);
    height: var(--widthIMG);
    object-fit: cover;
    z-index: 1;

}

.arrow-left, .arrow-right{
    z-index: 99;
}

.arrow-left{
    margin-right: -.3em;
}

.arrow-right{
    margin-left: -.3em;
}